<!-- -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parit</title>
    <link href="{% static 'src/styles.css' %}" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js" 
        integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
        crossorigin="anonymous"></script>
</head>
<body class="h-screen flex flex-col">
<main class="overflow-y-auto">
    Coming Soon!
</main>
</body>
</html>