<!-- Wrap table in div with proper ID for swapping -->
<div id="group-table" hx-swap-oob="morphdom">
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Username</th>
                    <th>Progress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user, solution in group_data %}
                <tr>
                    <th>{{forloop.counter}}</th>
                    <td>{{user}}</td>
                    <td>{{solution.status}}</td>
                    <th>
                        <button hx-get="/questions/{{user.username}}/solution/{{group.question.title_slug}}"
                                hx-target="#solution_content"
                                hx-swap="innerHTML"
                                onclick="solution_modal.showModal()"
                                class="btn btn-ghost btn-xs">
                            details
                        </button>
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  
   <dialog id="solution_modal" class="modal">
    <div class="modal-box">
      <!-- Modal Close Button -->
      <button type="button" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2" onclick="document.getElementById('solution_modal').close()">✕</button>
      <div id="solution_content">
      </div>
  
      <div class="modal-action">
      </div>
    </div>
   </dialog>  
  </div>