{% extends 'base.html' %}

{% block content %}
<div class="flex justify-center items-center min-h-screen bg-gray-50">
    <form  class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box shadow text-center" action="" method="post" >
        {% csrf_token %}
        <h1 class="mb-3">Change Password</h1>
        <div>
          {{form.old_password}}
          <div class="validator-hint hidden">Enter current password</div>
        </div>
        
      <div>
        {{form.new_password1}}
        <p class="validator-hint hidden">
          Must be more than 8 characters, including
          <br/>At least one number
          <br/>At least one lowercase letter
          <br/>At least one uppercase letter
        </p>
      </div>
        <div>
        {{form.new_password2}}
        <p class="validator-hint hidden">
          Passwords must match
        </p>
      </div>
        <input type="submit" value="Submit" class="btn">
    </form>
  </div>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
          var password1 = document.querySelector('input[name="new_password1"]');
          var password2 = document.querySelector('input[name="new_password2"]');

          password1.addEventListener('input', function() {
              password2.setAttribute('pattern', password1.value);
          });
      });
  </script>
{% endblock %}
