{% extends 'base.html' %}

{% block content %}
{% csrf_token %}


<div class="min-h-screen">
    <!-- Header Section -->
    <div class="bg-gradient-to-r from-blue-500 to-indigo-600 text-white py-8">
        <div class="container mx-auto flex flex-col md:flex-row items-center gap-6 px-4 md:px-8">
            <div class="flex-shrink-0">
                <div class="avatar">
                    <div class="w-24 h-24 rounded-full ring ring-white ring-offset-base-100 ring-offset-2">
                      {%if user.profile_picture%}
                        <img src= {{user.profile_picture.url }}>
                      {%else%}
                        <img src="/static/src/images/Default_pfp.webp">
                      {%endif%}
                    </div>
                </div>
            </div>
            <div class="flex-grow">
                <h1 class="text-3xl font-bold">{{user.leetcode_username}}</h1>
                <p class="text-lg text-gray-200 mt-2">{{user.email}}</p>
                <div class="mt-4">
                    <span class="badge badge-secondary"> Member Since: {{user.date_joined}}</span>
                </div>
            </div>
            <div class="flex flex-col gap-2">
                <a href="/accounts/settings" class="btn btn-outline btn-sm">Settings</a>
                <a href="/accounts/logout" class="btn btn-error btn-sm">Logout</a>
            </div>
        </div>
    </div>

    <!-- Groups Details Section -->
    <div class="container mx-auto mt-8 px-4 md:px-8">
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <div class="flex justify-between">
                <h2 class="text-2xl font-bold text-gray-700 mb-4">Your Groups</h2>
                <!-- Open the modal using ID.showModal() method -->
                <button class="btn btn-sm btn-outline btn-primary" onclick="create_group_modal.showModal()">Create Group</button>
                <dialog id="create_group_modal" class="modal">
                    <div class="modal-box">
                    <h3 class="text-lg font-bold">Create a new study group!</h3>
                    <form method="POST">
                        {% csrf_token %}
                        {{ create_group_form }}
                        <button type="submit" class="btn btn-primary">Create</button>
                    </form>
                    </div>
                    <form method="dialog" class="modal-backdrop">
                    <button>close</button>
                    </form>
                </dialog>
            </div>
            <!-- TODO: This uses group object, not membership object -->
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <thead>
                        <tr>
                            <th class="text-left">Group Name</th>
                            <th class="text-left">Members</th>
                            <th class="text-left">Invite Code</th>
                            <th class="text-left">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if user.study_groups.all %}
                          {% for membership in user.studygroupmembership_set.all %}
                            <tr>
                                <td class="text-gray-800">{{ membership.study_group.group_name }}</td>
                                <td class="text-gray-600">{{ membership.study_group.members.count }}</td>
                                <td class="text-gray-600">{{ membership.study_group.invite_code }}</td>
                                <td>
                                    <div class="dropdown dropdown-left dropdown-center">
                                        <div tabindex="0" role="button" class="btn btn-ghost btn-xs">...</div>
                                        <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
                                          <li><a href="{% url 'group' invite_code=membership.study_group.invite_code %}">View</a></li>
                                          <li><a href="{% url 'leave_group' invite_code=membership.study_group.invite_code %}">Leave</a></li>
                                        </ul>
                                      </div>
                                </td>
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4" class="text-center text-gray-600">No Groups</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
       


    <!-- Friends Section -->

    <div class="container mx-auto mt-8 px-4 md:px-8">
      <div class="card bg-white shadow-lg rounded-lg p-6">
      <div class="tabs tabs-lift">
        <label class="tab">
          <input type="radio" name="my_tabs_4" checked="checked"/>
          
          Friends
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6"><div class="container mx-auto mt-8 px-4 md:px-8">
          
          <div class="overflow-y-auto max-h-[40vh]">
            <div class="flex justify-between">
              <h2 class="text-2xl font-bold text-base-content mb-4">Your Friends</h2>
              <button class="btn" popovertarget="friend_request" style="anchor-name:--anchor-1">
                  Add Friend
              </button>
            </div>
                <div class="dropdown menu w-100"
                  popover id="friend_request" style="position-anchor:--anchor-1">
                 
                      {% if friend_form %}
                          <fieldset class="fieldset w-xs bg-base-200 border border-base-300 p-4 rounded-box">
                            <legend class="fieldset-legend">Add Friend</legend>
                            <form id="add-friend-form"  action="{% url 'profile' %}" method="POST">
                              {% csrf_token %}
                              {{ friend_form.as_p }}
                              <button id="submit" type="submit" value="Submit" class="btn btn-neutral mt-4">Send Request</button>

                          </form>
                          </fieldset>
                        
                      {% endif %}
                      
                      {% if messages %}
                <div class="messages">
                  {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                      {{ message }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
                  
              </div>
              <table class="table">
                <!-- head -->
                <thead class="text-center">
                  <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Streak</th>
                    <th>Acceptance Rate</th>
                    <th>Profile</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  {% if user.friends.all %}
                  {% for friend in user.friends.all %}
                  <!-- row 1 -->
                  <tr>
                    <!--
                    <th>
                      <label>
                        <input type="checkbox" class="checkbox" />
                      </label>
                    </th>
                  -->
                    <td>
                      <div class="avatar">
                        <div class="mask mask-squircle h-12 w-12">
                          {%if friend.profile_picture%}
                            <img src= {{friend.profile_picture.url }}>
                          {%else%}
                            <img src="/static/src/images/Default_pfp.webp">
                          {%endif%}
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="flex items-center gap-3 justify-center">
                        <div>
                          <div class="font-bold">{{friend.username}}</div>
                         <!-- <div class="text-sm opacity-50">United States</div>-->
                        </div>
                      </div>
                    </td>
                    <td>
                      {{friend.streak}}
                      <br />
                      <!-- <span class="badge badge-ghost badge-sm">placeholder</span> -->
                    </td>
                    <td>{{friend.acceptance_rate}}</td>
                    <th>
                      <a href="{% url 'public_profile' friend.id %}" class="btn btn-ghost btn-xs">view profile</a>
                    </th>
                  </tr>
                  {% endfor %}
                  {% else %}
                    <tr>
                        <td colspan="5" class="text-center text-gray-600">No Friends</td>
                    </tr>
                  {% endif %}
            
                </tbody>
                
              </table>
          </div>
      </div>
    </div>
      
        <label class="tab">
          <input type="radio" name="my_tabs_4" />
          Friend Requests
        </label>
        <div class="tab-content bg-base-100 border-base-300 p-6">
          <h2 class="text-2xl font-bold text-base-content mb-4">Incoming Friend Requests</h2>
          {% if user.friend_requests_received.all %}
            <ul>
              {% for req in user.friend_requests_received.all %}
                {% if req.status == "pending" %}
                  <li class="mb-2">
                    {{ req.from_user.username }} ({{ req.from_user.email }})
                    <form action="{% url 'respond_friend_request' req.id 'accept' %}" method="POST" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-success btn-sm">Accept</button>
                    </form>
                    <form action="{% url 'respond_friend_request' req.id 'reject' %}" method="POST" style="display:inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-error btn-sm">Reject</button>
                    </form>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          {% else %}
            <p>No pending friend requests.</p>
          {% endif %}
        </div>
      
        
      </div>

    </div>
  </div>
    

    <!-- Streak and Questions Section -->
    <div class="container mx-auto mt-8 px-4 md:px-8 grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Tags User Struggles With -->
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-bold text-gray-700 mb-4">Current Streak</h2>
            <div class="flex flex-col items-center">
                <!-- Streak Count -->
                <div class="flex items-center gap-4 mb-4">
                    <div class="text-4xl font-extrabold text-indigo-600">🔥</div>
                    <div class="text-3xl font-bold text-gray-800">{{user.streak}} Days</div>
                </div>
        
        
            </div>
        </div>
        

        <!-- Questions Stats -->
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-bold text-gray-700 mb-4">Questions Stats</h2>
            <div class="grid grid-cols-2 gap-4">
                <div class="stat text-center"> 
                    <h3 class="stat-title text-gray-600">Struggled Questions</h3>
                    <p class="stat-value text-red-600">{{numberOfStruggledQuestions}}</p>
                </div>
                <div class="stat text-center">
                    <h3 class="stat-title text-gray-600">Excelled Questions</h3>
                    <p class="stat-value text-green-600">{{numberOfExcelledQuestions}}</p>
                </div>
                <div class="stat text-center flex items-center justify-center flex-col">
                    <h3 class="stat-title text-gray-600">Overall Acceptance Rate</h3>
                    <div class="radial-progress text-primary" style="--value: {{ user.acceptance_rate }};"  role="progressbar">{{user.acceptance_rate}}%</div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Excelling Tags Section -->
    <div class="container mx-auto mt-8 px-4 md:px-8">
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <h3 class="text-lg font-semibold text-gray-700 mb-2">Tags You're Excelling At:</h3>
            <div class="flex flex-wrap gap-2">
                <span class="badge badge-success">Dynamic Programming</span>
                <span class="badge badge-success">Graphs</span>
                <span class="badge badge-success">Recursion</span>
            </div>
        </div>
    </div>
    <!--Struggled Tags Section-->
    <div class="container mx-auto mt-8 px-4 md:px-8">
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-bold text-gray-700 mb-4">Tags You Struggle With</h2>
            <div class="flex flex-wrap gap-2">
                <span class="badge badge-error">Dynamic Programming</span>
                <span class="badge badge-error">Graphs</span>
                <span class="badge badge-error">Recursion</span>
            </div>
        </div>
    </div>
    <!-- Achievements Section 
    <div class="container mx-auto mt-8 px-4 md:px-8">
        <div class="card bg-white shadow-lg rounded-lg p-6">
            <h2 class="text-2xl font-bold text-gray-700">Achievements</h2>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mt-4">
                <div class="badge badge-success p-4 text-white text-center">
                    <p>First Group</p>
                </div>
                <div class="badge badge-info p-4 text-white text-center">
                    <p>10 Groups Joined</p>
                </div>
                <div class="badge badge-warning p-4 text-white text-center">
                    <p>100 Sessions</p>
                </div>
                <div class="badge badge-primary p-4 text-white text-center">
                    <p>Top Contributor</p>
                </div>
            </div>
        </div>
    </div>
  -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var form = document.getElementById('add-friend-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var formData = new FormData(form);
            var xhr = new XMLHttpRequest();
            xhr.open('POST', form.action, true);
            xhr.setRequestHeader('x-requested-with', 'XMLHttpRequest');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    if (response.success) {
                        alert('Friend request sent!');
                    } else {
                        alert('Error: ' + response.error);
                    }
                } else {
                    alert('An error occurred while submitting the form.');
                }
            };
            xhr.send(formData);
        });
    });
</script>

{% endblock %}
