{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="grid grid-cols-2 grid-rows-2 gap-4 flex-grow">
    <!-- Left pannel -->
    <div class="row-span-2 flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-xl tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Problem</button>
          </div>
  
          <!-- Tab content -->
          <div role="tab-contents" class="flex-grow flex flex-col border-t border-base-300 p-4">
            <div role="tab-content" class="flex-grow overflow-auto h-0 max-w-none wrap-pre">
                <a class="flex items-center gap-2" href="{{ group.question.link }}" target="_blank">
                  {{group.question.title}}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                  </svg>
                </a>

              <!-- Question badges -->
              <span class="badge badge-soft badge-{{ group.question.difficulty|lower }} badge-sm my-2">{{ group.question.difficulty }}</span>
              <div class="prose prose-sm">
                {{ group.question.content|safe }}
              </div>
            </div>
          </div>
    </div>

    <!-- Upper right section-->
    <div class="flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-md tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Leaderboard</button>
            <button role="tab" class="tab" aria-selected="false">Settings</button>
        </div>
  
          <!-- Tab content -->
          <div role="tab-contents" class="flex-grow flex flex-col  border-t border-base-300">
            <!-- Members table -->
            <div role="tab-content" class="flex-grow overflow-auto h-0">
                <div id="group-table" hx-swap-oob="morphdom">
                    {% include 'partials/members_table.html' %}
                </div>
            </div>

            <!-- Settings -->
            <div role="tab-content" class="flex-col flex-grow overflow-hidden h-0 min-h-0 hidden">
              {% include 'group_settings.html' %}
            </div>
        </div>
    </div>

    <!-- Lower right section -->
    <div class="flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-xl tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Code</button>
          </div>
  
          <!-- Tab content -->
          <div
  role="tab-content"
  class="flex flex-col flex-grow h-full overflow-hidden"
>
  <!-- Language Selector Header -->
  <div class="flex-none border-y border-base-300">
    <select id="language-select" class="select select-ghost w-fit">
      <option>Python</option>
      <option>Java</option>
      <option>JavaScript</option>
    </select>
  </div>

  <!-- Monaco Editor -->
  <div class="flex-grow min-h-0 py-2">
    <div
      id="monaco-editor"
      class="w-full h-full">
  </div>
  <div id="autosave-trigger" 
        hx-post="./save_solution/"
        hx-swap="none"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="autosave-event from:body"
        style="display:none;">
      </div>
  </div>
</div>

    </div>
</div>
{% endblock %}

{% block extra_scripts %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.45.0/min/vs/loader.min.js"></script>
<script src="{% static 'groups/js/monaco.js' %}"></script>
<script src="{% static 'groups/js/groups.js' %}"></script>
{% endblock %}