{% extends 'base.html' %}

{% load static %}
{% block content %}

<div class="grid grid-cols-2 gap-4 flex-grow">
    <!-- Left pannel -->
    <div class="row-span-2 flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-xl tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Problem</button>
          </div>
  
          <!-- Tab content -->
          <div role="tab-contents" class="flex-grow flex flex-col border-t border-base-300 p-4">
            <div role="tab-content" class="flex-grow overflow-auto h-0">{{ group.question.content|safe }}</div>
          </div>
    </div>

    <!-- Upper right section-->
    <div class="flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-xl tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Leaderboard</button>
            <button role="tab" class="tab" aria-selected="false">Settings</button>
        </div>
  
          <!-- Tab content -->
          <div role="tab-contents" class="flex-grow flex flex-col border-t border-base-300 p-4">
            <!-- Members table -->
            <div role="tab-content" class="flex-grow overflow-auto h-0">
                <div class="flex justify-between">
                    <h3>{{ group.group_name }}</h3>
                    <button hx-get="{% url 'refresh_group_data' group.invite_code %}" hx-target="#group-table" hx-swap="OuterHTML" class="ml-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0 3.181 3.183a8.25 8.25 0 0 0 13.803-3.7M4.031 9.865a8.25 8.25 0 0 1 13.803-3.7l3.181 3.182m0-4.991v4.99" />
                        </svg>
                    </button>
                </div>
                <div id="group-table" hx-swap-oob="morphdom">
                    {% include 'partials/members_table.html' %}
                </div>
            </div>

            <!-- Settings -->
            <div role="tab-content" class="flex-grow overflow-auto h-0 hidden">Settings goes here</div>
        </div>
    </div>

    <!-- Lower right section -->
    <div class="flex flex-col bg-base-100 border border-base-300 rounded-xl shadow-xl tab-box">
        <!-- Tabs -->
        <div role="tablist" class="tabs-sm flex">
            <button role="tab" class="tab tab-active" aria-selected="true">Code</button>
          </div>
  
          <!-- Tab content -->
          <div role="tab-contents" class="flex-grow flex flex-col border-t border-base-300 p-4">
            <div role="tab-content" class="flex-grow overflow-auto h-0">Monaco editor goes here</div>
          </div>
    </div>
</div>

<script>
    document.querySelectorAll('.tab-box').forEach(box => {
  const tabs = box.querySelectorAll('[role="tab"]');
  const contents = box.querySelectorAll('[role="tab-content"]');

  tabs.forEach((tab, index) => {
    tab.addEventListener('click', () => {
      tabs.forEach(t => {
        t.classList.remove('tab-active');
        t.setAttribute('aria-selected', 'false');
      });
      contents.forEach(c => c.classList.add('hidden'));

      tab.classList.add('tab-active');
      tab.setAttribute('aria-selected', 'true');
      contents[index].classList.remove('hidden');
    });
  });
});

  </script>

{% endblock %}